// variables de estilo SCSS
$main-bg-color: lightblue;
$span-font-color: darkblue;
$anchor-hover-color: maroon;
$box-width: 350px;
$box-height: 300px;
$border-radius: 15px;
$font-stack: Arial, sans-serif;